#server-console {
	width: 500px;
	height: 600px;
	border: none;
	float: right;
}

body {
	background-color: #CCC;
}

.left {
	float :left;
}

#container {
	width : 1100px;
	margin: auto;
}

.title {
	margin-left : 25px;
}

#start-button {
	float : right;
	width : 62px;
	height : 62px;
	margin-right : 25px;
	margin-top : 12px;
	background : url("/images/start.png");
	background-size	 : 62px;
	cursor : pointer;
}

.top {
	height : 80px;
}


#user-info {
	position : absolute;
	margin-left : 25px;
}
